
#flmenu {
	margin-top: 50px;
	background-color: white;
	border: 2px solid black;
}

/******* Essential Defaults - should not be overriden by the user ********/

/*
#flmenu { position: fixed; }

#flmenu > ul { display: block; }

.fl-active > ul { display: block; }

.fl-active { display: block; }

.fl-a { text-decoration: none; }

.fl-ul {
	list-style-type: none;
	display: none;
}

.fl-li {  }
*/
/************** styles activation of menu elements *****************/
	/* unactivated list element style

.fl-li > a { padding: 4px; }
*/
	/* hover list element style 
.fl-li:hover > a {
	padding-left: 3px; border-left: 1px solid purple;
}
*/
	/* active element style 
.fl-active > a {
	padding-left: 2px; border-left: 2px solid purple;
}
*/
